.dashboard-link:link, .dashboard-link:visited {
  color: #ffffff;
  text-decoration: none;
  target-new: none;
}

.dashboard-link:hover {
  color: #ffffff;
  text-decoration: none;
  target-new: none;
}

.nav-table {
  background: rgb(0,0,255);
  background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(255,0,255,1) 100%);
  margin-bottom: 1em;
  border: 0px solid #FFFFFF;
  border-radius: 21px;
}

.nav-table td {
  padding-left: 2em;
  padding-right: 2em;
}

.nav-table a {
  color: #ffffff;
  text-decoration: none;
  target-new: none;
}

.nav-table a:hover {
  color: #ffffff;
  text-decoration: none;
  target-new: none;
}

.nav-cell-current {
  border: 2px solid #FFFFFF;
  border-radius: 21px;
}

.nav-cell-current a {
  color: #ffffff;
  text-decoration: none;
  target-new: none;
}

.nav-cell-current a:hover {
  color: #ffffff;
  text-decoration: none;
  target-new: none;
}

.result-table {
  margin-top: 1em;
  border-collapse: collapse;
}

.result-table th, .result-table td {
  border: 1px solid black;
  padding: 5px;
}

.button-cell {
  border: none !important;
}
